.Auth {
    margin: auto;
    width: 80%;
    text-align: center;
    box-shadow: 0 2px 3px #ccc;
    border: 1px solid #eee;
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 30px;
}

@media(min-width: 600px) {
    .Auth {
        width: 500px;
    }
}

.fade-enter {
    opacity: 0;
}

.fade-enter {
    opacity: 0;
    transform: translateX(-20%);
}

.fade-enter-active {
    opacity: 1;
    transform: translateX(0%);
}

.fade-exit {
    opacity: 1;
    transform: translateX(0%);
}

.fade-exit-active {
    opacity: 0;
    transform: translateX(20%);
}

.fade-enter-active,
.fade-exit-active {
    transition: opacity 500ms, transform 500ms;
}